<div class="container-fluid">

  <!-- Page Heading -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <p-toolbar styleClass="p-mb-4">
          <ng-template pTemplate="left">
            <button pButton pRipple label="Thêm mới" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
          </ng-template>
        </p-toolbar>

        <p-table #dt [value]=" books"  [rows]="5" [paginator]="true" [globalFilterFields]="['name','author.name','bookCategory.name']" responsiveLayout="scroll"
                 [rowHover]="true" dataKey="id"
                 [(selection)]="selectedBooks"
                 currentPageReportTemplate="Từ {first} đến {last} trong {totalRecords} sách" [showCurrentPageReport]="true">
          <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
              <h5 class="p-m-0">Quản lý sách</h5>
              <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Search..." />
                </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="id">Id<p-sortIcon field="id"></p-sortIcon></th>
              <th pSortableColumn="name">Tên<p-sortIcon field="name"></p-sortIcon></th>
              <th pSortableColumn="description">Mô tả<p-sortIcon field="description"></p-sortIcon></th>
              <th pSortableColumn="price">Giá ban đầu<p-sortIcon field="price"></p-sortIcon></th>
              <th pSortableColumn="salePrice">Giá khuyến mại<p-sortIcon field="salePrice"></p-sortIcon></th>
              <th pSortableColumn="active">Trạng thái<p-sortIcon field="active"></p-sortIcon></th>
              <th pSortableColumn="dateCreated">Ngày tạo<p-sortIcon field="dateCreated"></p-sortIcon></th>
              <th pSortableColumn="lastUpdated">Ngày chỉnh sửa gần nhất<p-sortIcon field="lastUpdated"></p-sortIcon></th>
              <th pSortableColumn="author.name">Tác giả<p-sortIcon field="author.name"></p-sortIcon></th>
              <th>Ảnh</th>
              <th pSortableColumn="bookCategory.name">Thể loại<p-sortIcon field="bookCategory.name"></p-sortIcon></th>
              <th>Thao tác</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-book>
            <tr>
              <td>{{book.id}}</td>
              <td>{{book.name}}</td>
              <td>{{book.description | slice : 0:20 }}...</td>
              <td>{{book.price | VndCurrency}}</td>
              <td>{{book.salePrice | VndCurrency}}</td>
              <td class="d-inline text-center "><p class="text-white" style="border-radius: 20px; padding: 5px;" [class]="book.active?'bg-success':'bg-danger'">{{book.active?"Kích hoạt":"Chưa kích hoạt"}}</p></td>
              <td>{{book.dateCreated | date: 'dd/MM/yyyy'}}</td>
              <td>{{book.lastUpdated | date: 'dd/MM/yyyy'}}</td>
              <td>{{book.author.name}}</td>
              <td><img src="{{book.imageUrl}}" class="product-image" alt=""></td>
              <td>{{book.bookCategory.name}}</td>
              <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editBook(book)"></button>
                <button pButton pRipple icon="pi pi-key" class="p-button-rounded p-button-warning mt-3" (click)="changeActive(book)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

  <p-dialog [(visible)]="bookDialog" [style]="{width: '450px'}" (onHide)="hideDialog()" header="{{isEdit?'Chỉnh sửa: '+name?.value:'Tạo mới'}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="d-flex justify-content-between align-items-center">
        <img [src]="imageUrl" [alt]="imageUrl" class="product-image-file" *ngIf="imageUrl">
        <button class="btn btn-primary btn-sm"  (click)="csvInput.click()">Chọn hình ảnh</button><input (change)="setAvatar($event)" #csvInput hidden type="file">
      </div>
      <form [formGroup]="bookForm">
        <div class="p-field mt-3">
            <label for="name">Tên sách</label>
            <input id="name"  pInputText  formControlName="name"/>
            <div *ngIf="name">
              <div *ngIf="name.invalid && (name.dirty||name.touched)">
                <small *ngIf="name.errors?.required||name.errors?.Whitespace"  class="p-error">Tên sách không được để trống !</small>
                <small  *ngIf="name.errors?.minlength" class="p-error">Tên sách phải lớn hơn 2 ký tự !</small>
              </div>
            </div>
        </div>
        <div class="p-field mt-3">
          <label for="description">Mô tả</label>
          <textarea id="description" formControlName="description" pInputTextarea placeholder="Mô tả sách" required rows="8" cols="15"></textarea>
          <div *ngIf="description">
            <div *ngIf="description.invalid && (description.dirty||description.touched)">
              <small *ngIf="description.errors?.required||description.errors?.Whitespace"  class="p-error">Mô tả không được để trống !</small>
              <small  *ngIf="description.errors?.minlength" class="p-error">Mô tả phải lớn hơn 2 ký tự !</small>
            </div>
          </div>
        </div>
        <div class="p-field mt-3">
          <label>Tác giả</label>
          <p-dropdown formControlName="author" [filter]="true" filterBy="name" [showClear]="true" [options]="authors" optionLabel="name" placeholder="Tác giả">
            <ng-template let-option pTemplate="item">
              <span [class]="'product-badge'">{{option.name}}</span>
            </ng-template>
          </p-dropdown>
          <div *ngIf="author">
            <div *ngIf="author.invalid && (author.dirty||author.touched)">
              <small *ngIf="author.errors?.required||author.errors?.Whitespace"  class="p-error">Không được để trống tác giả !</small>
            </div>
          </div>
        </div>
        <div class="p-field mt-3">
          <label>Loại sách</label>
          <p-dropdown formControlName="bookCategory" [options]="categories" optionLabel="name" placeholder="Loại sách">
            <ng-template let-option pTemplate="item">
              <span [class]="'product-badge'">{{option.name}}</span>
            </ng-template>
          </p-dropdown>
          <div *ngIf="bookCategory">
            <div *ngIf="bookCategory.invalid && (bookCategory.dirty||bookCategory.touched)">
              <small *ngIf="bookCategory.errors?.required||bookCategory.errors?.Whitespace"  class="p-error">Không được để trống thể loại !</small>
            </div>
          </div>
        </div>

        <div class="p-formgrid p-grid mt-3">
          <div class="p-field p-col">
            <label>Giá tiền</label>
            <p-inputNumber id="price"  formControlName="price" placeholder="Giá" mode="currency" currency="VND" ></p-inputNumber>
          </div>
          <div class="p-field p-col mt-3">
            <label>Khuyến mãi</label>
            <p-inputNumber id="quantity" formControlName="salePrice" placeholder="Giá" mode="currency" currency="VND"></p-inputNumber>
          </div>
        </div>
      </form>
    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton pRipple label="Thoát" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Lưu" icon="pi pi-check" class="p-button-text" (click)="saveBook()"></button>
    </ng-template>
  </p-dialog>
</div>
