<div class="top-sold">
  <p-carousel [value]="Books"  [numVisible]="4" [numScroll]="1" [circular]="true"
              [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header" >
      <div class="flashsale-header">
        <a>
          <img src="https://cdn0.fahasa.com/media/wysiwyg/icon-menu/ico_flashsale@3x.png" style="width: 25px; height: 25px;margin-left: 10px;" alt="">
          <span class="flashsale-header-title">
        FLASH SALE
        </span>
        </a>
        <span>
        <div class="split"></div>
      </span>
        <span class="flashsale-page-countdown-label">
        Kết thúc trong
      </span>
        <div class="flashsale-page-countdown">
          <div class="flashsale-countdown">
            <span class="flashsale-countdown-number"><span *ngIf="hour<10">0</span>{{hour}}</span>
            <span class="distance-time">:</span>
            <span class="flashsale-countdown-number"><span *ngIf="minute<10">0</span>{{minute}}</span>
            <span class="distance-time">:</span>
            <span class="flashsale-countdown-number"><span *ngIf="second<10">0</span>{{second}}</span>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template let-book pTemplate="item">
      <!--    <div class="product-item">-->
      <!--      <div class="product-item-content">-->
      <!--        <div class="p-mb-3">-->
      <!--          <img src="{{book.imageUrl}}" [alt]="book.name" class="product-image" />-->
      <!--        </div>-->
      <!--        <div>-->
      <!--          <h4 class="p-mb-1">{{book.name}}</h4>-->
      <!--          <h6 class="p-mt-0 p-mb-3">${{book.price}}</h6>-->
      <!--        </div>-->
      <!--      </div>-->
      <!--    </div>-->
      <div style="position: relative" class="card-hover">
        <div class="new-label-pro-sale" *ngIf="book.price!=0&&(book.salePrice/book.price)!=0">
          <span class="new-p-sale-label">{{((book.salePrice/book.price)*100).toFixed(1)+'%'}}</span>
        </div>
        <div class="ma-box-content" style="height: 420px">
          <div class="products">
            <div class="product images-container" title="{{book.name}}">
              <a href="/book-detail/{{book.id}}">
                <div class="product-image">
                  <div class="flashsale-image-container">
                    <img src="{{book.imageUrl}}" class="flashsale-item-image" alt="">
                  </div>
                  <div class="outstock-container">
                    <img src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/flashsale/Chay-hang-icon.svg" class="flashsale-item-chay-hang" alt="">
                  </div>
                </div>
              </a>
            </div>
          </div>
          <h2 class="product-name-no-ellipsis" >
            <span  style="color: #444444;">{{book.name}}</span>
          </h2>
          <div class="flashsale-price">
            <div class="flashsale-price-special">
              {{(book.price-book.salePrice) | VndCurrency}}
            </div>
            <div class="flashsale-price-old">
              {{book.price| VndCurrency}}
            </div>
            <div class="episode-label">
              <button  (click)="addToCart(book)"  class="addtocart">
                <i class="fa fa-shopping-cart"></i>
              </button>
            </div>
          </div>
          <div class="progress">
            <div class="progress-value">Đã bán {{book.sold}}</div>
            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuemin="0" aria-valuemax="100" aria-valuenow="100"></div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>

