<!--<div class="main-content">-->
<!--  <div class="section-content section-content-p30">-->
<!--    <div class="container-fluid">-->
<!--      <h3>Your Orders</h3>-->
<!--      <div *ngIf="orders.length > 0">-->
<!--        <table class="">-->
<!--          <tr>-->
<!--            <th width="20%">Mã đơn hàng</th>-->
<!--            <th width="10%">Tổng tiền</th>-->
<!--            <th width="10%">Số lượng sản phẩm</th>-->
<!--            <th width="10%">Thao tác</th>-->
<!--            <th width="10%">Ngày tạo đơn</th>-->
<!--            <th>Trạng thái</th>-->
<!--            <th width="10%">Chi tiết</th>-->
<!--          </tr>-->

<!--          <tr *ngFor="let tempOrderHistory of orders">-->
<!--            <td>-->
<!--              {{ tempOrderHistory.orderTrackingNumber }}-->
<!--            </td>-->
<!--            <td>-->
<!--              {{ tempOrderHistory.totalPrice | currency: 'VND' }}-->
<!--            </td>-->
<!--            <td>-->
<!--              {{ tempOrderHistory.totalQuantity }}-->
<!--            </td>-->
<!--            <td>-->
<!--              <button *ngIf="tempOrderHistory.status.id==1" pButton pRipple type="button" label="Hủy đơn" class="p-button-danger" (click)="changeOrderStatus(tempOrderHistory)"></button>-->
<!--              <button *ngIf="tempOrderHistory.status.id==2" pButton pRipple type="button" label="Đã nhận" class="p-button-raised" (click)="changeOrderStatus(tempOrderHistory)"></button>-->
<!--            </td>-->
<!--            <td>-->
<!--              {{ tempOrderHistory.dateCreated | date: 'medium' }}-->
<!--            </td>-->
<!--            <td>-->
<!--              {{ tempOrderHistory.status.name }}-->
<!--            </td>-->
<!--            <td><button  (click)="show(tempOrderHistory.orderItems)">Chi tiết</button></td>-->
<!--          </tr>-->
<!--        </table>-->
<!--      </div>-->

<!--      &lt;!&ndash; if order history is empty then display a message &ndash;&gt;-->
<!--      <div *ngIf="orders.length == 0" class="alert alert-warning col-md-12" role="alert">-->
<!--        Chưa có đơn hàng nào-->
<!--      </div>-->
<!--      <div class="col-md-6">-->
<!--        <div class="row">-->
<!--          <div class="col-md-9" style="padding-left:30%">-->
<!--            &lt;!&ndash;                maxSize là số lượng nút bấm phâm trang tối đa&ndash;&gt;-->
<!--            <ngb-pagination-->
<!--              [(page)]="thePageNumber"-->
<!--              [pageSize]="thePageSize"-->
<!--              [collectionSize]="theTotalElements"-->
<!--              [maxSize]="5"-->
<!--              [boundaryLinks]="true"-->
<!--              (pageChange)="handleListOrder()"></ngb-pagination>-->
<!--          </div>-->
<!--          &lt;!&ndash;              <div class="col-md-3 mt-2">&ndash;&gt;-->
<!--          &lt;!&ndash;                <span class="mr-2">Page Size</span>&ndash;&gt;-->
<!--          &lt;!&ndash;                <select (change)="updatePageSize($event)">&ndash;&gt;-->
<!--          &lt;!&ndash;                  <option>2</option>&ndash;&gt;-->
<!--          &lt;!&ndash;                  <option selected="true">5</option>&ndash;&gt;-->
<!--          &lt;!&ndash;                  <option>10</option>&ndash;&gt;-->
<!--          &lt;!&ndash;                  <option>20</option>&ndash;&gt;-->
<!--          &lt;!&ndash;                </select>&ndash;&gt;-->
<!--          &lt;!&ndash;              </div>&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="card" style="margin-top: 100px">
  <h5>Lịch sử đơn hàng</h5>
  <p-table [value]="orders" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
    <ng-template pTemplate="header">
      <tr>
        <th>Mã đơn hàng</th>
        <th>Tổng tiền</th>
        <th>Số lượng sản phẩm</th>
        <th>Thao tác</th>
        <th>Ngày tạo đơn</th>
        <th>Trạng thái</th>
        <th>Chi tiết</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tempOrderHistory>
      <tr>
        <td>
          {{ tempOrderHistory.orderTrackingNumber }}
        </td>
        <td>
          {{ tempOrderHistory.totalPrice | currency: 'VND' }}
        </td>
        <td>
          {{ tempOrderHistory.totalQuantity }}
        </td>
        <td>
          <button *ngIf="tempOrderHistory.status.id==1" pButton pRipple type="button" label="Hủy đơn" class="p-button-danger" (click)="changeOrderStatus(tempOrderHistory)"></button>
          <button *ngIf="tempOrderHistory.status.id==2" pButton pRipple type="button" label="Đã nhận" class="p-button-raised" (click)="changeOrderStatus(tempOrderHistory)"></button>
        </td>
        <td>
          {{ tempOrderHistory.dateCreated | date: 'medium' }}
        </td>
        <td>
          {{ tempOrderHistory.status.name }}
        </td>
        <td><button  (click)="show(tempOrderHistory.orderItems)">Chi tiết</button></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-table>
</div>
