
<div class="card" style="margin-top: 100px">
  <h5>Lịch sử đơn hàng</h5>
  <p-table [value]="orders" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
    <ng-template pTemplate="header">
      <tr>
        <th>Mã đơn hàng</th>
        <th>Tổng tiền</th>
        <th>Số lượng sản phẩm</th>
        <th>Thao tác</th>
        <th>Ngày tạo đơn</th>
        <th>Trạng thái</th>
        <th>Chi tiết</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tempOrderHistory>
      <tr>
        <td>
          {{ tempOrderHistory.orderTrackingNumber }}
        </td>
        <td>
          {{ tempOrderHistory.totalPrice | currency: 'VND' }}
        </td>
        <td>
          {{ tempOrderHistory.totalQuantity }}
        </td>
        <td>
          <button *ngIf="tempOrderHistory.status.id==1" pButton pRipple type="button" label="Hủy đơn" class="p-button-danger" (click)="changeOrderStatus(tempOrderHistory)"></button>
          <button *ngIf="tempOrderHistory.status.id==2" pButton pRipple type="button" label="Đã nhận" class="p-button-raised" (click)="changeOrderStatus(tempOrderHistory)"></button>
        </td>
        <td>
          {{ tempOrderHistory.dateCreated | date: 'medium' }}
        </td>
        <td>
          {{ tempOrderHistory.status.name }}
        </td>
        <td><button  (click)="show(tempOrderHistory.orderItems)">Chi tiết</button></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-table>
</div>
