<div class="container">
  <div class="card mt-5">
    <p-table class="some-custom-class-name" [value]="orders" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
             [rowHover]="true" dataKey="id"
             currentPageReportTemplate="Từ {first} đến {last} trong {totalRecords} đơn hàng ">
      <ng-template pTemplate="caption" class="table-background">
        <div class="p-d-flex p-ai-center p-jc-between ">
          <h5 class="p-m-0">Lịch sử đơn hàng</h5>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Tổng tiền</th>
          <th>Số lượng sản phẩm</th>
          <th>Thao tác</th>
          <th>Ngày tạo đơn</th>
          <th>Trạng thái</th>
          <th>Chi tiết</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tempOrderHistory>
        <tr>
          <td>
            {{ tempOrderHistory.totalPrice | currency: 'VND' }}
          </td>
          <td>
            {{ tempOrderHistory.totalQuantity }}
          </td>
          <td>
            <button *ngIf="tempOrderHistory.status.id==1" pButton pRipple type="button" label="Hủy đơn" class="p-button-danger" (click)="changeOrderStatus(tempOrderHistory)"></button>
            <button *ngIf="tempOrderHistory.status.id==2" pButton pRipple type="button" label="Đã nhận" class="p-button-raised" (click)="changeOrderStatus(tempOrderHistory)"></button>
          </td>
          <td>
            {{ tempOrderHistory.dateCreated | date: 'dd/MM/yyyy' }}
          </td>
          <td>
            {{ tempOrderHistory.status.name }}
          </td>
          <td><button pButton pRipple icon="pi pi-search"  class="p-button-rounded p-button-success" (click)="show(tempOrderHistory.orderItems)"></button></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

