.login-status-header {
  display:flex;
  justify-content: end;
  align-items: center;
}
.my-link-navbar:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}
.img-radius{
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
