<div class="login-status-header">
  <div class="my-btn-nav">
    <a *ngIf="isAuthenticated && userFullName" class="text-white" routerLink="/profile">
      Xin chào: {{ userFullName }}!
    </a>
    <a *ngIf="!isAuthenticated" routerLink="/login" class="text-white">Đăng Nhập</a>
  </div>
  <div class="my-btn-nav">
    <a *ngIf="isAuthenticated" routerLink="/order-history" class="text-white">Lịch sử giao dịch</a>
    <a *ngIf="!isAuthenticated" routerLink="/register" class="text-white">Đăng ký</a>
  </div>
  <div class="my-btn-nav">
    <a *ngIf="isAuthenticated" (click)="logOut()" class="text-white">Đăng xuất</a>
  </div>









</div>
