<p-table [value]="orderItems" [paginator]="true" [rows]="5" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name">Tên sản phẩm</th>
      <th pSortableColumn="year">Hình ảnh</th>
      <th pSortableColumn="price">Giá thành</th>
      <th pSortableColumn="inventoryStatus">Số lượng</th>
      <th style="width:4em"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-order>
    <tr>
      <td><a routerLink="/book-detail/{{order.book.id}}">{{order.book.name}}</a></td>
      <td><a routerLink="/book-detail/{{order.book.id}}"><img src="{{order.imageUrl}}" [alt]="order.imageUrl"  class="product-image"/></a></td>
      <td>{{order.unitPrice|VndCurrency}}</td>
      <td><span>{{order.quantity}}</span></td>
    </tr>
  </ng-template>
</p-table>
