<div class="p-0" style="width: 350px">
  <div class="row d-flex justify-content-center">
    <div class="col-12">
      <div class="card user-card-full">
        <ul class="popup-login-tab">

          <li class="popup-login-tab-item "  style="width: 50%">
            <a (click)="showInforDialog()">Thông tin cá nhân</a>
          </li>
          <li class="popup-login-tab-item active" style="width: 50%">
            Đổi mật khẩu
          </li>
        </ul>
        <div class="row m-l-0 m-r-0">
          <div class="col-12 bg-c-lite-green user-profile">
            <div class="card-block text-center text-white">
              <div class="m-b-25"> <img src="{{user.avatarUrl}}" class="img-radius" alt="User-Profile-Image"> </div>
              <h6 class="f-w-600">{{user.fullName}}</h6>
            </div>
          </div>
          <div class="col-12">
            <div class="card-block">
              <div class="row">
                <form [formGroup]="changePasswordForm">
                  <div class="form-outline mb-4 form-field-height">
                    <label class="form-label">Mật khẩu hiện tại<span class="text-danger">*</span></label>
                    <p-password formControlName='oldPassword'  id="oldPassword" [feedback]="false" [toggleMask]="true"></p-password>
                    <div *ngIf="oldPassword">
                      <div *ngIf="oldPassword.invalid && (oldPassword.dirty||oldPassword.touched)">
                        <small class="p-error" *ngIf="oldPassword.errors?.required||oldPassword.errors?.Whitespace">
                          Mật khẩu hiện tại  không được để trống !
                        </small>
                        <small  class="p-error" *ngIf="oldPassword.errors?.minlength">
                          Mật khẩu hiện tại  phải lớn hơn 2 ký tự !
                        </small>
                      </div>
                    </div>
                  </div>
                  <div class="form-outline mb-4 form-field-height">
                    <label class="form-label" >Mật khẩu mới<span class="text-danger">*</span></label>
                    <p-password formControlName='newPassword'   [feedback]="false" [toggleMask]="true"></p-password>
                    <div *ngIf="newPassword">
                      <div *ngIf="newPassword.invalid && (newPassword.dirty||newPassword.touched)">
                        <small class="p-error" *ngIf="newPassword.errors?.required||newPassword.errors?.Whitespace">
                          Mật khẩu mới  không được để trống !
                        </small>
                        <small  class="p-error" *ngIf="newPassword.errors?.minlength">
                          Mật khẩu mới   phải lớn hơn 2 ký tự !
                        </small>
                      </div>
                    </div>
                  </div>
                  <div class="form-outline mb-5 form-field-height">
                    <label class="form-label" >Xác nhận mật khẩu<span class="text-danger">*</span></label>
                    <p-password formControlName='newPasswordConfirm'   [feedback]="false" [toggleMask]="true"></p-password>
                    <div *ngIf="newPasswordConfirm">
                      <div *ngIf="newPasswordConfirm.invalid && (newPasswordConfirm.dirty||newPasswordConfirm.touched)">
                        <div class="p-error">
                          <small *ngIf="changePasswordForm.hasError('notSame')&& (newPasswordConfirm.touched||newPasswordConfirm.dirty)">Mật khẩu xác nhận không chính xác !</small>
                        </div>
                      </div>
                    </div>
                  </div>
<!--                  <div class="text-center py-1 mb-3">-->
<!--                    <button type="button"  (click)="updateProfile()" class="btn fa-lg gradient-custom-2">Cập nhật</button>-->
<!--                  </div>-->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

