<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

  <!-- Sidebar Toggle (Topbar) -->
  <!-- Topbar Search -->
  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">
    <!-- Nav Item - Alerts -->
    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle" routerLink="/admin" id="alertsDropdown" role="button"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>
        <!-- Counter - Alerts -->
        <span class="badge badge-danger badge-counter">*</span>
      </a>
      <!-- Dropdown - Alerts -->
    </li>
    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown dropdown-user no-caret" *ngIf="admin" ngbDropdown placement="bottom-right" display="dynamic">
      <a class="nav-link dropdown-toggle" id="userDropdown" ngbDropdownToggle data-cy="userMenu" role="button" aria-haspopup="true" aria-expanded="false"></a>
      <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownUser">
        <h6 class="dropdown-header">
          <div class="dropdown-user-details">
            <div class="dropdown-user-details-name">{{ admin.fullName }}</div>
          </div>
        </h6>
        <a class="dropdown-item" (click)="logOut()">Logout</a>
      </div>
    </li>

  </ul>

</nav>
