<!--<div class="container-fluid">-->
<!--  <div class="row mt-5">-->
<!--    <div class="col-md-6 bg-secondary">-->
<!--      <form [formGroup]="loginForm">-->
<!--        <div class="row">-->
<!--          <div class="col-md-12">-->
<!--            <div class="input-space">-->
<!--              <input type="text" formControlName="username"  placeholder="Tên đăng nhập">-->
<!--              <div *ngIf="username">-->
<!--                <div *ngIf="username.invalid && (username.dirty||username.touched)" class="alert alert-danger mt-1">-->
<!--                  <div *ngIf="username.errors?.required||username.errors?.Whitespace">-->
<!--                    Tên tài khoản không được để trống !-->
<!--                  </div>-->
<!--                  <div *ngIf="username.errors?.minlength">-->
<!--                    Tên tài khoản phải lớn hơn 2 ký tự !-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-12">-->
<!--            <div class="input-space">-->
<!--              <input type="text" formControlName="password" placeholder="Mời nhập mật khẩu">-->
<!--              <div *ngIf="password">-->
<!--                <div *ngIf="password.invalid && (password.dirty||password.touched)" class="alert alert-danger mt-1">-->
<!--                  <div *ngIf="password.errors?.required||password.errors?.Whitespace">-->
<!--                    Mật khẩu không được để trống !-->
<!--                  </div>-->
<!--                  <div *ngIf="password.errors?.minlength">-->
<!--                    Mật khẩu phải lớn hơn 2 ký tự-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="text-center">-->
<!--            <button type="submit" (click)="onSubmit()" class="btn btn-info">Đăng nhập</button>-->
<!--          </div>-->
<!--        </div>-->

<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<section class="h-100 gradient-form m-0" style="background-color: #eee; width:350px">
  <div class="h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="card rounded-3 text-black ">
          <ul class="popup-login-tab">
            <li class="popup-login-tab-item active">
              Đăng nhập
            </li>
            <li class="popup-login-tab-item">
              <a (click)="showRegisterDialog('dk')">Đăng ký</a>
            </li>
            <li class="popup-login-tab-item" style="width: 40%">
              <a (click)="showRegisterDialog('mk')">Quên mật khẩu</a>
            </li>
          </ul>
          <div class="row g-0">
            <div class="col-12">
              <div class="card-body pt-0">
                <div class="text-center">
                  <img src="./assets/img/bookStoreicon.png" style="width: 150px;" alt="logo">
                </div>
                <form  [formGroup]="loginForm">
                  <div class="form-outline mb-4 form-field-height" >
                    <label class="form-label" for="form2Example11">Tài khoản</label>
                    <input type="email" id="form2Example11" class="form-control" formControlName="username"/>
                    <div *ngIf="username">
                      <div *ngIf="username.invalid && (username.dirty||username.touched)">
                         <small class="p-error" *ngIf="username.errors?.required||username.errors?.Whitespace">Tên tài khoản không được để trống !</small>
                          <small class="p-error" *ngIf="username.errors?.minlength" >Tên tài khoản phải lớn hơn 2 ký tự !</small>
                      </div>
                    </div>
                  </div>
                  <div class="form-outline mb-4 form-field-height">
                    <label class="form-label" for="form2Example22"  >Mật khẩu</label>
                    <input type="password" id="form2Example22" formControlName="password" class="form-control" />
                    <div *ngIf="password">
                      <div *ngIf="password.invalid && (password.dirty||password.touched)">
                         <small *ngIf="password.errors?.required||password.errors?.Whitespace" class="p-error">Mật khẩu không được để trống !</small>
                        <small *ngIf="password.errors?.minlength" class="p-error">Mật khẩu phải lớn hơn 2 ký tự </small>
                      </div>
                    </div>
                  </div>
                  <div class="text-center pt-1 mb-2 pb-1">
                    <button class="btn btn-block fa-lg gradient-custom-2 mb-3" (click)="onSubmit()"  type="button">Đăng nhập</button>
                  </div>
                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Bạn chưa có tài khoản?</p>
                    <button type="button" class="btn btn-outline-danger" (click)="showRegisterDialog('dk')">Đăng ký</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
