.card {
  background-color: #fff;
  border: none;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.6s;

}
.card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
}
.image-container {
  position: relative
}

.thumbnail-image {
  border-radius: 10px !important
}

.discount {
  background-color: #f7473e;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 12px;
  border-radius: 6px;
  color: #fff;
}

.wishlist {
  height: 25px;
  width: 25px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.first {
  position: absolute;
  width: 100%;
  padding: 9px
}

.dress-name {
  font-size: 15px;
  width: 100%;
  color: #444444;
  font-weight: 500;
}

.new-price {
  font-size: 15px;
  font-weight: bold;
  color: #f7473e
}

.old-price {
  font-size: 11px;
  font-weight: bold;
  color: grey;
  text-decoration: line-through;
}

.btn {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  padding: 3px
}

.creme {
  background-color: #fff;
  border: 2px solid grey
}

.creme:hover {
  border: 3px solid grey
}

.creme:focus {
  background-color: grey
}

.red {
  background-color: #fff;
  border: 2px solid red
}

.red:hover {
  border: 3px solid red
}

.red:focus {
  background-color: red
}

.blue {
  background-color: #fff;
  border: 2px solid #40C4FF
}

.blue:hover {
  border: 3px solid #40C4FF
}

.blue:focus {
  background-color: #40C4FF
}

.darkblue {
  background-color: #fff;
  border: 2px solid #01579B
}

.darkblue:hover {
  border: 3px solid #01579B
}

.darkblue:focus {
  background-color: #01579B
}

.yellow {
  background-color: #fff;
  border: 2px solid #FFCA28
}

.yellow:hover {
  border-radius: 3px;
  border:solid #FFCA28;
}

.yellow:focus {
  background-color: #FFCA28
}

.item-size {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid grey;
  color: grey;
  font-size: 10px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center
}

.rating-star {
  font-size: 10px !important
}

.rating-number {
  font-size: 10px;
  color: grey
}

.buy {
  font-size: 15px;
  color: #0da8e4;
  font-weight: 500
}

.voutchers {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  width: 190px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden
}

.voutcher-divider {
  display: flex
}

.voutcher-left {
  width: 60%
}

.voutcher-name {
  color: grey;
  font-size: 9px;
  font-weight: 500
}

.voutcher-code {
  color: red;
  font-size: 11px;
  font-weight: bold
}

.voutcher-right {
  width: 40%;
  background-color: purple;
  color: #fff
}

.discount-percent {
  font-size: 12px;
  font-weight: bold;
  position: relative;
  top: 5px
}

.off {
  font-size: 14px;
  position: relative;
  bottom: 5px
}



/*body{margin-top:20px;*/
/*  background:#f1f2f7;*/
/*}*/

/*!*panel*!*/
/*.panel {*/
/*  border: none;*/
/*  box-shadow: none;*/
/*}*/

/*.panel-heading {*/
/*  border-color:#eff2f7 ;*/
/*  font-size: 16px;*/
/*  font-weight: 300;*/
/*}*/

/*.panel-title {*/
/*  color: #2A3542;*/
/*  font-size: 14px;*/
/*  font-weight: 400;*/
/*  margin-bottom: 0;*/
/*  margin-top: 0;*/
/*  font-family: 'Open Sans', sans-serif;*/
/*}*/


/*!*product list*!*/

/*.prod-cat li a{*/
/*  border-bottom: 1px dashed #d9d9d9;*/
/*}*/

/*.prod-cat li a {*/
/*  color: #3b3b3b;*/
/*}*/

/*.prod-cat li ul {*/
/*  margin-left: 30px;*/
/*}*/

/*.prod-cat li ul li a{*/
/*  border-bottom:none;*/
/*}*/
/*.prod-cat li ul li a:hover,.prod-cat li ul li a:focus, .prod-cat li ul li.active a , .prod-cat li a:hover,.prod-cat li a:focus, .prod-cat li a.active{*/
/*  background: none;*/
/*  color: #ff7261;*/
/*}*/

/*.pro-lab{*/
/*  margin-right: 20px;*/
/*  font-weight: normal;*/
/*}*/

/*.pro-sort {*/
/*  padding-right: 20px;*/
/*  float: left;*/
/*}*/

/*.pro-page-list {*/
/*  margin: 5px 0 0 0;*/
/*}*/

/*.product-list img{*/
/*  width: 100%;*/
/*  border-radius: 4px 4px 0 0;*/
/*  -webkit-border-radius: 4px 4px 0 0;*/
/*}*/

/*.product-list .pro-img-box {*/
/*  position: relative;*/
/*}*/
.addtocart {
  background: #fc5959;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #fff;
  display: inline-block;
  text-align: center;
  border: 3px solid #fff;
  right: 15px;
  /*bottom: -25px;*/
  position: absolute;
  transition: all .2s;
}
.addtocart:hover {
  box-shadow: 3px 3px 5px #939393;
  background: #f1453d;
  padding: 2px;
}
.addtocart i{
  color: #fff;
  font-size: 18px;
  line-height: 40px;
}

.flashsale-header {
  background-color: #FCDAB0;
  height: 50px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}


/*.pro-title {*/
/*  color: #5A5A5A;*/
/*  display: inline-block;*/
/*  margin-top: 20px;*/
/*  font-size: 16px;*/
/*}*/

/*.product-list .price {*/
/*  color:#fc5959 ;*/
/*  font-size: 15px;*/
/*}*/

/*.pro-img-details {*/
/*  margin-left: -15px;*/
/*}*/

/*.pro-img-details img {*/
/*  width: 100%;*/
/*}*/

/*.pro-d-title {*/
/*  font-size: 16px;*/
/*  margin-top: 0;*/
/*}*/

/*.product_meta {*/
/*  border-top: 1px solid #eee;*/
/*  border-bottom: 1px solid #eee;*/
/*  padding: 10px 0;*/
/*  margin: 15px 0;*/
/*}*/

/*.product_meta span {*/
/*  display: block;*/
/*  margin-bottom: 10px;*/
/*}*/
/*.product_meta a, .pro-price{*/
/*  color:#fc5959 ;*/
/*}*/

/*.pro-price, .amount-old {*/
/*  font-size: 18px;*/
/*  padding: 0 10px;*/
/*}*/

/*.amount-old {*/
/*  text-decoration: line-through;*/
/*}*/

/*.quantity {*/
/*  width: 120px;*/
/*}*/

/*.pro-img-list {*/
/*  margin: 10px 0 0 -15px;*/
/*  width: 100%;*/
/*  display: inline-block;*/
/*}*/

/*.pro-img-list a {*/
/*  float: left;*/
/*  margin-right: 10px;*/
/*  margin-bottom: 10px;*/
/*}*/

/*.pro-d-head {*/
/*  font-size: 18px;*/
/*  font-weight: 300;*/
/*}*/
