<div class="p-0 " style="width: 350px">
    <div class="row d-flex justify-content-center">
      <div class="col-12">
        <div class="card user-card-full">
          <ul class="popup-login-tab">

            <li class="popup-login-tab-item active"  style="width: 50%">
              Thông tin cá nhân
            </li>
            <li class="popup-login-tab-item" style="width: 50%">
              <a (click)="showChangePasswordDialog()">Đổi mật khẩu</a>
            </li>
          </ul>
          <div class="row m-l-0 m-r-0">
            <div class="col-12 bg-c-lite-green user-profile">
              <div class="card-block text-center text-white">
                <div class="m-b-25"> <img src="{{imageUrl}}" class="img-radius" alt="User-Profile-Image"></div>
                <h3 class="f-w-600">{{user.fullName}}</h3>
                <button class="btn btn-sm fa-lg gradient-custom-2"  (click)="csvInput.click()">Thay đổi avatar</button><input (change)="setAvatar($event)" #csvInput hidden type="file">
              </div>
            </div>
            <div class="col-12">
              <div class="card-block">
                <div class="row">
                  <form [formGroup]="updateForm">
                    <div class="form-outline mb-4 form-field-height">
                      <label class="form-label" for="form3Example1cg">Tên đầy đủ<span class="text-danger">*</span></label>
                      <input type="text" id="form3Example1cg" formControlName="fullName" class="form-control form-control-sm" />
                      <div *ngIf="fullName">
                        <div *ngIf="fullName.invalid && (fullName.dirty||fullName.touched)">
                          <small class="p-error" *ngIf="fullName.errors?.required||fullName.errors?.Whitespace">
                            Tên  không được để trống !
                          </small>
                          <small  class="p-error" *ngIf="fullName.errors?.minlength">
                            Tên  phải lớn hơn 2 ký tự !
                          </small>
                        </div>
                      </div>
                    </div>
                    <div class="form-outline mb-4 form-field-height">
                      <label class="form-label" for="form3Example3cg">Email <span class="text-danger">*</span></label>
                      <input type="email" id="form3Example3cg" formControlName="email"  class="form-control form-control-sm" />
                      <div *ngIf="email">
                        <div *ngIf="email.invalid && (email.dirty||email.touched)">
                          <small class="p-error" *ngIf="email.errors?.required">
                            Email không được để trống !
                          </small>
                          <small class="p-error" *ngIf="email.errors?.pattern">
                            Vui lòng nhập đúng định dạng email
                          </small>
                        </div>
                      </div>
                    </div>
                    <div class="form-outline mb-5 form-field-height">
                      <label class="form-label" for="form3Example4cdg">Số điện thoại <span class="text-danger">*</span></label>
                      <input  id="form3Example4cdg"  formControlName="phone" class="form-control form-control-sm" />
                      <div *ngIf="phone">
                        <div *ngIf="phone.invalid && (phone.dirty||phone.touched)">
                          <small class="p-error" *ngIf="phone.errors?.required">
                            Số điện thoại không được để trống !
                          </small>
                          <small class="p-error" *ngIf="phone.errors?.pattern">
                            Vui lòng nhập đúng định dạng số điện thoại
                          </small>
                        </div>
                      </div>
                    </div>
                    <div class="text-center py-1 mb-3">
                      <button type="button"  (click)="updateProfile()" class="btn fa-lg gradient-custom-2">Cập nhật</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
