<div class="top-sold-items">
  <h2 class="text-white">Top bán chạy</h2>
  <div class="d-flex flex-column-reverse pr-3" *ngFor="let book of Books">
    <div class="card mb-3 p-4">
      <a routerLink="/book-detail/{{book.id}}">
        <div class="image-container ">
          <div class="first">
            <div class="d-flex justify-content-between align-items-center"> <span *ngIf="book.price!=0&&(book.salePrice/book.price)!=0" class="discount">SALE {{((book.salePrice/book.price)*100).toFixed(1)+'%'}}</span></div>
          </div> <img src="{{book.imageUrl}}"  class="img-fluid img-adverti rounded thumbnail-image">
        </div>
      </a>
      <div class="p-2 pt-4">
        <div style="line-height: 15px">
          <div style="height: 40px"><p class="dress-name text-gray-800">{{book.name}}</p></div>
          <div class="d-flex flex-column">
            <div><span class="new-price">{{(book.unitPrice) | VndCurrency}}</span> </div>
            <div><small class="old-price text-right">{{book.price| VndCurrency}}</small> </div>
          </div>
        </div>
      </div>
      <hr class="my-2">
      <div class="d-flex align-items-end">
        <button  (click)="addToCart(book)"  class="addtocart">
          <i class="fa fa-shopping-cart"></i>
        </button>
      </div>
    </div>

  </div>
</div>

