<aside class="menu-sidebar d-none d-lg-block">
  <div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar-list">
        <li>
          <a routerLink="/category/0"  routerLinkActive="active-link">Tất cả</a>
        </li>
        <li *ngFor="let bookCategory of categories">
          <a routerLink="/category/{{bookCategory.id}}"  routerLinkActive="active-link">{{bookCategory.name}}</a>
        </li>
      </ul>
    </nav>
  </div>
</aside>

