<div class="page-wrapper">

  <!-- MENU SIDEBAR-->
  <div class="d-none d-lg-block">
    <app-sider-bar></app-sider-bar>
  </div>

  <!-- END MENU SIDEBAR-->
  <div style="position: relative; top: 0; left: 0; right: 0;z-index:3">
    <a routerLink="/category/0" style="width: 100%">
      <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-11-2021/megasale_resize_1263.jpg" width="100%" alt="">
    </a>
  </div>
  <header class="header-desktop">
    <div class="section-content section-content-p30">
      <div class="container-fluid p-0">
        <div class="header-wrap">
          <div class="d-block d-md-none mr-1">
            <button class="btn" type="button" (click)="openDialog()">
              <div class="bg-light line"></div>
              <div class="bg-light line"></div>
              <div class="bg-light line"></div>
            </button>
          </div>
          <div>
            <app-search></app-search>
          </div>
          <div class="d-md-block d-none">
            <app-login-status></app-login-status>
          </div>
          <div class="ml-2">
            <app-cart-status></app-cart-status>
          </div>
        </div>
<!--        <div class="d-block d-md-none">-->
<!--            <app-login-status></app-login-status>-->
<!--        </div>-->
      </div>
    </div>
  </header>
  <!-- PAGE CONTAINER-->
  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <!-- END HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <div class="row">
      <div class="col-12 col-md-10 pr-0">
        <router-outlet></router-outlet>
      </div>
      <div class="col-2 d-none d-md-block m-0 p-0">
        <app-advertisement></app-advertisement>
      </div>
    </div>

<!--    <p-dialog header="Header" [(visible)]="showSidebar" [style]="{width: '250px', top:'0px', left:'0px',position:'fixed'}">-->
<!--&lt;!&ndash;      <app-login-status></app-login-status>&ndash;&gt;-->
<!--      <app-sider-bar></app-sider-bar>-->
<!--    </p-dialog>-->
    <!-- END MAIN CONTENT-->

  </div>
</div>

<!-- END PAGE CONTAINER-->


<footer class="my-footer">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <ul class="d-flex flex-column">
          <li><a href="#" class="fw-bold">GIỚI THIỆU</a></li>
          <li><a href="#">Trang chủ</a></li>
          <li><a href="#">Sản phẩm</a></li>
        </ul>
      </div>
      <div class="col-4">
        <ul class="d-flex flex-column">
          <li><a href="#" class="fw-bold">HƯỚNG DẪN</a></li>
          <li><a href="#">Hướng dẫn mua hàng</a></li>
          <li><a href="#">Hướng dẫn thanh toán</a></li>
        </ul>
      </div>
      <div class="col-4">
        <ul class="d-flex flex-column">
          <li><a href="#" class="fw-bold">CHÍNH SÁCH</a></li>
          <li><a href="#">Chính sách bảo mật</a></li>
          <li><a href="#">Chính sách vận chuyển</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-6">
        <ul class="d-flex flex-column">
          <li><a href="#" class="fw-bold">CONG LE STORE</a></li>
          <li><a href="#">Địa chỉ:  Số 298 Đ. Cầu Diễn, Minh Khai, Bắc Từ Liêm, Hà Nội
            Hotline: 0342910909 Email: lethanhcongcnhn@gmail.com</a></li>
        </ul>
      </div>
      <div class="col-6">
        <ul class="d-flex flex-column">
          <li><a href="#" class="fw-bold">CHẤP NHẬN THANH TOÁN</a>
            <img src="./assets/img/thanhtoan.png" alt=""></li>
        </ul>
      </div>
    </div>
  </div>

</footer>

<!-- end document-->
