.my-footer{
  position: relative;
  bottom: 0;
  border-top: 2px solid #232324;
  background-color: #fefefe;
  z-index: 3;
}
.my-footer a {
  color: black ;
}
.line {
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all .4s;
}
