<div class="cart-area d-flex align-items-center">
    <div class="total">
      <button class="text-white" (click)="op.toggle($event)">{{totalPrice|VndCurrency}} <span class="text-dark"> {{totalQuantity}}</span></button>
    </div>
    <div>
      <a routerLink="/cart-details"><i class="fa fa-shopping-cart text-white my-cart-click" aria-hidden="true"></i></a>
    </div>
</div>
<p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '350px'}">
  <ng-template pTemplate>
    <p-table [value]="cartItems" selectionMode="single" [(selection)]="selectedItem" [paginator]="true" [rows]="5" responsiveLayout="scroll">
      <ng-template pTemplate="body" let-rowData let-cartItem>
        <tr [pSelectableRow]="rowData">
          <td>{{cartItem.name}}</td>
          <td><img src="{{cartItem.imageUrl}}" [alt]="cartItem.imageUrl" class="product-image" /></td>
          <td>{{cartItem.unitPrice}}</td>
          <td> x{{cartItem.quantity}}</td>
        </tr>
      </ng-template>
    </p-table>
    <div>
      <div class="d-flex m-2 justify-content-around">
        <b>Số lượng: {{totalQuantity}}</b>
        <b>Tổng tiền: {{totalPrice|VndCurrency}}</b>
      </div>
      <div class="text-center d-block">
        <button class="btn btn-primary btn-lg" routerLink="/cart-details">Đặt hàng</button>
      </div>
    </div>

  </ng-template>
</p-overlayPanel>
